.container{
  background-color: 663300;
  border: 5px solid black;
  margin: 75px;
}

.button{
  background-color: 996600;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  height: 20%;
  color: white;
}

.operator{
  background-color: CC6600;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  height: 20%;
}

.display{
  text-align: right;
  font-weight: 800;
  font-size: 38px;
  height: 20%;
}


/*Flex styles*/
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button{
  width: 25%;
}

.display{
  width: 74%;
}

.operator{
  width: 23%;
}
