.container{
  background-color: 663300;
  border: 5px solid black;
  margin: 75px;
}



.button{
  background-color: 996600;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  height: 20%;
  color: white;
}

.button:hover{
  /*background-color: #d0b79f;*/
  opacity: .6;
}

.operator:hover{
  background-color: #d0b79f;
  opacity: .8;
}

.operator{
  background-color: #CC6600;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  height: 20%;
}

.display{
  text-align: right;
  font-weight: 800;
  font-size: 38px;
  height: 20%;
  background-color: black;
  color: white;
  padding-right: 30px;
  font-size: 50px;
}


/*Flex styles*/
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button{
  width: 25%;
  box-flex: 1;
}

.display{
  width: 73%;
}

.operator{
  width: 23%;
  box-flex: 2;
}
