.container{
  background-color: 663300;
  border: 7px solid black;
  margin: 75px;
}

#clear{
  background-color: #CC6600;
}

#equal{
  background-color: #f29c45;
}

#dot{
  background-color: #f29c45;
}

.button{
  background-color: #996600;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  height: 20%;
  color: white;
  text-shadow: 2px 2px 5px black;
}


.button:hover{
  /*background-color: #d0b79f;*/
  opacity: .6;
}

.operator:hover{
  background-color: #d0b79f;
  opacity: .8;
}

#clear:hover{
  background-color: #d0b79f;
  opacity: .8;
}

#equal:hover{
  background-color: #d0b79f;
  opacity: .8;
}

.operator{
  background-color: #CC6600;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  height: 20%;
  text-shadow: 1px 1px 5px white;
}


.display{
  text-align: right;
  font-weight: 800;
  font-size: 38px;
  height: 20%;
  background-color: black;
  color: white;
  padding-right: 30px;
  font-size: 50px;
}


/*Flex styles*/
.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button{
  width: 25%;
  box-flex: 1;
}

.display{
  width: 73%;
}

.operator{
  width: 23%;
  box-flex: 3;
}
